<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenidos a nuestra pagina de <%= title %></p>
    <% results.forEach(anuncios => { %>
      <p>El nombre del articulo <%= anuncios.nombre %> tiene un precio de <%= anuncios.precio %> euros</p>
      <img src="../public/images/<%= anuncios.foto %>" alt="">
    <% }) %>
  </body>
</html>
